
body {
    /*background-image: url("puzzle-background.jpg");*/
    padding: 15px;
}

#canvas {
}

#puzzleContainer {
}

#setupContainer {
    /*padding-bottom: 20px;
    background-color: white;
    border-radius: 5px; 
    border: solid;
    border-color: grey;*/
}

#ORLabel {
    margin-left: auto;
    margin-right: auto;
}

#PlayerConnections {
}

ul {
    list-style-type: none;
}